# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# testing
#
/coverage

# yarn
#
yarn.lock

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
*.swp

